.articles{
    padding: 2em 1em;
    text-align: center;

    h2{
        font-weight: lighter;
        font-size: 32px;
        color: hsl(233, 26%, 24%);
        margin-top: 30px;
        margin-bottom: 1em;
    }
    p{
        margin-bottom: 2em;
        color: #666;
    }

    .article{
        margin-bottom: 2em;

        h3, p{
            font-weight: lighter;
            font-size: 18px;
            padding: 0px 30px;
            text-align: left;
        }
        p{
            font-size: 14px;
            color: #888383;
        }  
        img{
            width: 328px;
            height: 202px;
            margin-bottom: 1em;
            border-radius: 5px;
        }
    }
}

@media (min-width: 600px){
    .articles{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        .article{
            width: 45%;
        }
    }
}