.articles{
    border: 3px solid black;
    padding: 2em 1em;
    text-align: center;

    h2{
        margin-bottom: 1em;
    }
    p{
        margin-bottom: 2em;
        color: #666;
    }

    .article{
        margin-bottom: 2em;

        img{
            width: 328px;
            height: 202px;
            margin-bottom: 1em;
            border-radius: 10px;
        }
    }
}

@media (min-width: 600px){
    .articles{
        border: 2px solid red;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        .article{
            width: 45%;
        }
    }
}