header {
    background-color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.header__container{
    align-items: center;
}

.logo {
    width: 120px;
}

.menu__toggle {
    font-size: 1.5em;
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 700px){
    .logo{
        margin-left: 50px;
    }
    
}