footer{
    color: white;
    text-align: center;

    .footer__content{
        width: 100%;
        height: 500px;
        margin: auto;
        border: 2px solid black;
        background-color: var(--dark-Blue);

        .logo__footer{
            margin: 20px 20px;
        }

        p{
            color: hwb(233 59% 35%);
            font-size: 13px;
        }

        .social__icons{

            img{
                width: 24px;
                margin: 0 0.5em;
            }
        }

        .footer__links{
            list-style: none;
            margin: 0em 0;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            li{
                margin: 0.5em 0;
            }
            a{
                color: white;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .invite__btn{
            background-color: #31d35c;
            color: white;
            border: none;
            padding: 0.75em 1.5em;
            font-size: 1em;
            cursor: pointer;
            border-radius: 25px;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 600px){
    .footer__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .social__icons{
            margin-bottom: 1em;
        }
        .footer__links{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
            li{
                margin: 0 1em;
            }
        }
    }
}